.bg-light-layer,
.bg-dark-layer {
    @apply absolute inset-0 bg-cover bg-center bg-no-repeat transition-opacity duration-700 ease-in-out;
}

.bg-light-layer {
    @apply bg-[url('/images/background/bg.png')] opacity-100;
}

.dark .bg-light-layer {
    @apply opacity-0;
}

.bg-dark-layer {
    @apply bg-[url('/images/background/bg-dark.png')] opacity-0;
}

.dark .bg-dark-layer {
    @apply opacity-100;
}
