.glass {
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 600;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}

.buttonhover {
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.buttonhover:hover, .buttonhover:focus {
    transform: scale(1.01) rotate(0deg) translate(0px, -2px) skewX(0deg);
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.3);
    outline: none;
    filter: brightness(1.1);
}
